<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/tables.css' />

</head>
<body>
    <table><tr>     <th>ID</th><th>Image</th> <th>Name</th>  <th>Price</th>   <th>Quantity</th>   </tr> 
        <%if (data.length != 0){ 
        for (var i = 0; i < data.length; i++){ %>
        <tr>  <td> <%= data[i].id %> </td> <td> <img src="<%=data[i].image%>"></td><td> <%=data[i].p_name %> </td>  <td> <%=data[i].price %> </td> <td>
             <% if( data[i].qty  == 0) { %> Out of stock! <%} else { %> <%=data[i].qty%> <% }%> </td>  </tr>
       <% }
        }  
        else{ 
        %>
        <td colspan="4">No Data Found</td>  </tr>
        <% } %>
        </table>
</body>
</html>